*{
	margin: 0;
	padding: 0;
}

#map-canvas{
	z-index: 1;
	width: 100%;
}

#bottom-nav ul{
	list-style: none;
}
#bottom-nav li{
	float: left;
	width: 25%;
	text-align: center;
}
#bottom-nav a{
	display: block;
	text-decoration: none;
	padding: 20px;
}
#bottom-nav a:hover{
	background-color: #999;
}